{{template "admin_header.html"}}
	<div class="row">

		<div class="list-group col-md-2">

  			<a href="/admin/goods" class="list-group-item active">商品管理</a>
  			<a href="/admin/order" class="list-group-item ">订单管理</a>
  			<a href="/admin/category" class="list-group-item">分类管理</a>
		</div>

		<div class="col-md-10 well">
			<div class="btn-group">
				<button class="btn btn-primary" data-toggle="modal" data-target="#goods-modal"><i class="fa fa-plus"></i>&nbsp;添加商品</button>
			</div>
      <table class="table table-hover table-striped">
         <tr>
              <td>ID</td>
              <td>商品图片</td>
              <td>商品名称</td>
              <td>商品价格</td>
              <td>所属分类</td>
              <td>操作</td>
          </tr>
        {{ range .goods_list }}
          <tr>
            <td>{{ .ID }}</td>
            <td><img style="width:50px;height:50px;" src="/assets/data/goods/{{.Photo}}" alt="..." class="img-rounded"></td>
            <td>{{ .Name }}</td>
            <td>{{ .Price }}</td>
            <td>
              {{with .GetCate}}
                  {{.Name}}
                {{end}}
            </td>
            <td>
              <button data-id="{{.ID}}" class="goods-m-btn btn btn-primary">修改</button>
              <button data-id="{{.ID}}" class="goods-d-btn btn btn-warning">删除</button>
            </td>
          </tr>
        {{ end }}
      </table>
		</div>
	</div>

	<div class="modal fade" id="goods-modal" role="dialog">
		<div class="modal-dialog">
    		<div class="modal-content">
      			<div class="modal-header">
        			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        			<h4 class="modal-title">添加商品</h4>
      			</div>
      			<div class="modal-body">
        			<form id="goods-form" enctype="multipart/form-data" action="/admin/goods/add" method="POST">
               <div class="form-group">
                  <label for="photo">商品图片</label>
                  <input type="file" id="photo" name="photo">
                  <p class="help-block"></p>
              </div>
  						<div class="form-group">
    						<label for="name">商品名称</label>
    						<input type="text" class="form-control" id="name" name="name" placeholder="商品名称">
  						</div>
  						<div class="form-group">
    						<label for="price">商品价格</label>
    						<input type="text" class="form-control" id="price" name="price" placeholder="0">
  						</div>
  						
  						<div class="form-group">
    						<label for="cate">所属分类</label>
    						<select id="cate" name="cate" class="form-control">
                 				{{range .cates}}
                    				<option value="{{.ID}}">{{.Name}}</option>
                  			{{end}}
							</select>
  						</div>
              <div class="form-group">
                <label for="description">商品描述</label>
                <textarea class="form-control" rows="5" name="description" id="description"></textarea>
              </div>

  					 </form>
      			</div>
      			<div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        			<button id="ok-btn" type="button" class="btn btn-primary">确认添加</button>
      			</div>
    		</div>
  		</div>
	</div>

  <div class="modal fade" id="goods-m-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">修改商品</h4>
            </div>
            <div class="modal-body">
              <form id="goods-m-form" enctype="multipart/form-data" action="/admin/goods/modify" method="POST">
               <div class="form-group">
                  <label for="m-photo">商品图片</label>
                  <input type="file" id="m-photo" name="m-photo">
                  <p class="help-block"></p>
              </div>
              <div class="form-group">
                <label for="m-name">商品名称</label>
                <input type="text" class="form-control" id="m-name" name="m-name" placeholder="商品名称">
              </div>
              <div class="form-group">
                <label for="m-price">商品价格</label>
                <input type="text" class="form-control" id="m-price" name="m-price" placeholder="0">
              </div>
              
              <div class="form-group">
                <label for="m-cate">所属分类</label>
                <select id="m-cate" name="m-cate" class="form-control">
                        {{range .cates}}
                            <option value="{{.ID}}">{{.Name}}</option>
                        {{end}}
              </select>
              </div>
              <div class="form-group">
                <label for="m-description">商品描述</label>
                <textarea class="form-control" rows="5" name="m-description" id="m-description"></textarea>
              </div>
              <input type="hidden" id="m-id" name="m-id">
             </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
              <button id="m-ok-btn" type="button" class="btn btn-primary">确认修改</button>
            </div>
        </div>
      </div>
  </div>
  <script type="text/javascript">
  $("#ok-btn").click(function(){
    console.log("ok");
    $("#goods-form").submit();
  })
  $("#m-ok-btn").click(function(){
    console.log("ok");
    $("#goods-m-form").submit();
  })
  $(".goods-m-btn").click(function(){
    var id = $(this).data("id");
    var url = "/admin/goods/"+id;
    $.get(url,function(data){
      console.log(data)
      $("#m-name").val(data.Name);
      $("#m-price").val(data.Price);
      $("#m-cate").val(data.CateID.Int64);
      $("#m-description").val(data.Description);
      $("#m-id").val(data.ID);

      $("#goods-m-modal").modal("show");
    });
    
  });
  $(".goods-d-btn").click(function(){
   
      if (confirm("确认删除？")) {
        var id = $(this).data("id");
        var url = "/admin/goods/delete/";
        $.post(url,{id: id},function(data){
            if(data.message == "ok"){
              $(location).attr('href',"/admin/goods")
            }
        });
      };

    
  });
  </script>
{{template "footer.html"}}