<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.min.css"/>
	<link rel="stylesheet" type="text/css" href="/assets/css/eshop.css"/>
	<script type="text/javascript" src="/assets/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
	<title>张杪昀的网店</title>
</head>
<body>
	<nav id="main-nav" class="navbar navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"><h4>张杪昀的网店管理后台</h4></a>
			</div>
		
	
			<div class="collapse navbar-collapse">
				
			</div>
			
		</div>
	</nav>

	<div id="main-container" class="container">
		<div class="row">
			<div class="col-md-12">
     {{if .fail_msg}}
        <div class="alert alert-danger" role="alert">{{ .fail_msg }}</div>
    {{ end }}
     {{if .success_msg}}
        <div class="alert alert-success" role="alert">{{ .success_msg }}</div>
    {{ end }}